/* Estilo para a mensagem de erro */
.error-message {
  color: red;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilo para a lista de vídeos */
.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin-top: 70px;
}

/* Estilo para cada item de vídeo */
.video-item {
  background-color: #2F3341;
  border: 1px solid #2F3341;
  border-radius: 10px;
  padding: 15px;
  width: calc(25% - 20px); /* Quatro itens por linha em telas maiores */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 380px; /* Altura ajustada para incluir as imagens padronizadas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.video-item h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  margin: 10px 0;
}

.video-item p {
  color: #bfbfbf;
  font-size: 14px;
  margin: 10px 0;
}

/* Ajustes para imagens */
.video-item img {
  width: 100%; /* Largura máxima do contêiner */
  height: 150px; /* Altura fixa para padronização */
  border-radius: 5px; /* Bordas arredondadas */
  margin-bottom: 10px;
  object-fit: cover; /* Garante que a imagem seja proporcional e preencha o espaço */
}

.video-item button {
  background-color: #424757;
  color: #ffffff;
  border: none;
  padding: 10px 15px; /* Tamanho padrão */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  align-self: center;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.video-item button:hover {
  background-color: #2F3341;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilos de responsividade */
@media (max-width: 1024px) {
  .video-item {
    width: calc(33.33% - 20px); /* Três itens por linha */
  }
}

@media (max-width: 768px) {
  .video-item {
    width: calc(50% - 20px); /* Dois itens por linha */
  }
}

@media (max-width: 480px) {
  .video-item {
    width: 100%; /* Um item por linha */
  }

  .video-item h3 {
    font-size: 16px; /* Reduz o tamanho do título */
  }

  .video-item p {
    font-size: 12px; /* Reduz o tamanho da descrição */
  }

  .video-item button {
    padding: 6px 10px; /* Botões menores para dispositivos pequenos */
    font-size: 14px; /* Fonte menor */
  }
}







